In [1]:
import pandas as pd
import numpy as np

/Users/marcoul/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
df = pd.read_csv('params.csv', sep=",", index_col=0)
df

    moinslog10K         n  lambda_s        rho_cs  regime
id
13     8.993473  0.200170  3.971283  3.236277e+06       1
14     8.192690  0.045820  1.003889  9.936161e+06      -1
34     7.615792  0.199497  6.120214  4.970023e+06       1
35     8.757264  0.231112  3.716705  5.358492e+06      -1
46     8.955350  0.201096  2.731950  9.035180e+06      -1
48     7.943059  0.210563  7.197232  2.951452e+06      -1
50     9.234397  0.007798  8.717235  5.478358e+05       1
51     8.593209  0.164595  3.279334  2.432444e+07       1